.sectionModalAltCurso1{
 display: flex;
 flex-direction: column;
 position: relative;
 top:-2em;
}

.imagemModalAltCurso{
    display: flex;
    float: right;
    position: relative;
    left: 1em;
    width: 60%;
    height: 30em;
    
}

.inputAlterarCurso{
    margin-top: 2em !important;
}


.divGlobalFormAltCurso{
    display: flex;
    flex-direction: row;
}


.sectionModalAltCurso2{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 3vh;
}

.textAreaCurso{
    margin-top: 2em !important;
    width: 150%;
}


.sectionModalAltCurso1 select{
    margin-top: 0.5em;
}

.labelInput{
    margin-top: 0.5em;
}

.txtArea{
    border: none;
    resize: none;
    background-color: transparent;
    width: 23vh;
    height: 10vh;
    outline: none;

}