.divParametro{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.divParametro input{
    padding-top: 1em;
    text-align: center;
    margin-top: 1em;
}

.arquivoParametro{
    margin-top: 2em !important;
    position: relative;
    left: -4em;
}

#verImagem{
    margin-top: 1em;
    position: relative;
    left: 3em;
}

.botaoAdd3{
    display: flex;
    position: absolute;
    left: 1em;
    top:1em;
    
}

#verImagem, img{
    width: 150px;
}
