.areaPesquisa{
    position: absolute !important;
    top: 0.5em !important;
    left: 10em;
    width: 50%;
}

.parteBotaoArea{
    display: flex;
    position: relative;
    top: 0.5em;
    right: 2em;
    margin-top: 1em;
}

.parteBotaoArea Button{
    margin-left: 1em;
}


.formArea{
    position: relative;
    left: 6em;
  
}

.botaoAdd2{
    display: flex;
    position: absolute;
    left: 1em;
    top:1em;
    
}



