.botaoDeleteTurma{
    background-color: red;
    color: white;
    border: 0px;
    width: 64px;
    height: 50px;
    border-radius: 5em;
}

.botaoAlterarTurma{
    background-color: yellow;
    color: black;
    border: 0px;
    width: 64px;
    height: 50px;
    border-radius: 5em;


}

.bi-plus-lg{
    margin-right: 0.3em;
    padding-bottom: 0.1em;
}

.conteudoTabela{
    display: block;
    float: right;
    width: 84%;
    margin-top: 3em;
    
    
}
  

.botaoAdd{
    display: flex;
    position: absolute;
    left: 0.5em;
    top:1em;
    
}

header{
    position: relative;
    top: 0px;
    left: 5em;
    width: 85%;
    float: right;

}



.divBotaoAdd{
    position: relative;
}

.buscarInput{
    position: absolute;
    width: 50%;
    display: flex;
    left: 15em;
    top:1em;    
}




