.botaoDeleteTurma{
    background-color: red;
    color: white;
    border: 0px;
    width: 50px;
    height: 40px;
    border-radius: 5em;
}

.botaoAlterarTurma{
    background-color: yellow;
    color: black;
    border: 0px;
    width: 50px;
    height: 40px;
    border-radius: 5em;

}

.bi-plus-lg{
    margin-right: 0.3em;
    padding-bottom: 0.1em;
}

.conteudoTabela{
    display: block;
    float: right;
    width: 84%;
    margin-top: 3em;
    
    
}
  

.botaoAdd{
    display: flex;
    position: absolute;
    left: 0.5em;
    top:1em;
    
}

header{
    position: relative;
    top: 0px;
    left: 5em;
    width: 85%;
    float: right;

}

.divBotaoAdd{
    position: relative;
}

.buscarInput{
    position: absolute;
    width: 50%;
    display: flex;
    left: 15em;
    top:1em;    
}

.modalCad{
   display: block;
   float: left;
   width: 30%;
}

.formModalCad{
    display: flex;
    flex-direction: column;
    width: 90%;
  
}

.imagemModal{
    display: flex;
    float: right;
    position: relative;
    left: 1em;
    width: 60%;
    height: 30em;
    
}


.parte1{
    position: absolute;
    left: 2em;
    top:0em;
  
    width: 20%;
}

.parte2{
    position: absolute;
    left: 17em;
    top:0em;
    width: 20%;
   
}

.parte3{
    position: absolute;
    left: 1em;
    top:10em;
    width: 20%;
    
}

.select1{
    position: absolute;
    left: 16em;
    top: 10em;
    width: 20%;
  
}

.select2{
    position: absolute;
    left: 1em;
    top:20em;
    width: 20%;
  
}

.select3{
    position: absolute;
    left: 17em;
    top:20em;
    width: 20%;
  
}

.select3Alt{
    position: absolute;
    left: 17em;
    top:21em;
    width: 20%;
  
}


.horarioInicio{
    position: absolute;
    left: 1em;
    top:28.5em;
    width: 20%;
    
}

.horarioFinal{
    position: absolute;
    left: 16em;
    top:28.5em;
    width: 20%;
    
}

.botaotarefas{
    display: flex;
    position: absolute;
    left: 0.5em;
    top:0em;
}

.botaoVoltar{
    display: flex;
    position: absolute;
    left: 0.5em;
    top:2em;
}

.divTarefas{
    position: relative;
    left: 93%;
    top: 0%;
    float: left;
    transform: translate(-90%, -60%);
}




.parteBotao{
    position: absolute;
    top:33em;
    background-color: aqua;
    top: 600px;
}

.parteBotao Button{
    margin-left: 2em;
}















