.botaoDeleteTurma{
    background-color: red;
    color: white;
    border: 0px;
    width: 64px;
    height: 50px;
    border-radius: 5em;
}

.botaoAlterarTurma{
    background-color: yellow;
    color: black;
    border: 0px;
    width: 64px;
    height: 50px;
    border-radius: 5em;


}

.bi-plus-lg{
    margin-right: 0.3em;
    padding-bottom: 0.1em;
}

.painelComponent{
    display: block;
    float: left;
    background-color: #212529;
    height: 100vh;
    width: 15%;
    position: fixed;
   
    
}


.conteudoTabela{
    display: block;
    float: right;
    width: 84%;
    margin-top: 3em;
    
    
}

.imagemLogo{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    
}   

.botaoAdd{
    display: flex;
    position: absolute;
    left: 0.5em;
    top:1em;
    
}

header{
    position: relative;
    top: 0px;
    left: 5em;
    width: 85%;
    float: right;

}



.divBotaoAdd{
    position: relative;
}

.buscarInput{
    position: absolute;
    width: 50%;
    display: flex;
    left: 15em;
    top:1em;    
}

.linha{
    position: absolute;
    border-bottom: 0.1em solid white;
    top: 5em;
    left: 0em;
    right: 0em;
    
    
}

.navegacao{
   
   float: left;
   width: 100%;
   margin-right: 1em;
   position: relative;
   top: 0em;
}

.nav{
    position: absolute;
    top: 3em;
    left:1em;
    display: flex;
    flex-direction: column;
    color: white;
    
}
a{
    margin-top: 1em;
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: #3a86ff;
    color: white;

}

.theadTurma{
    background-color: black;
    
}




