.lista{    
    text-align: center;
    
}
table{
    margin-top: 1em;
}

.titulo{
    background-color: black;
    color: white;
    margin: 0.2em 0em;
}
.inputNome{
    border: 0px;
    border-bottom: 0.1em solid black;
    width: 100%;
    background-color: transparent;
    text-align: center;
}