.lista{    
    text-align: center;
    
}
table{
    margin-top: 1em;
}

.titulo{
    background-color: black;
    color: white;

}
.inputNome{
    border: 0px;
    border-bottom: 0.1em solid black;
    width: 100%;
    background-color: transparent;
    text-align: center;
}

.textoExcluir{
    color: red;
    text-align: center;
    
}

.bodyExcluir{
    background-color: red;
}

.tituloExcluir{
    color: white;
}

.painel{
    display: block;
    float: left;
    background-color: #14213d;
    height: 100vh;
    width: 15%;
}
.conteudoFormulario{
    display: block;
    float: right;
    width: 84%;

}


.buscar{
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    width: 84%;

}

.inputBusca{
    border: 0px;
    border-bottom: 0.1em solid black;
    width: 100%;
    background-color: transparent;
    text-align: center;
   
     
}

.navegacao{
    color: white;
    position: relative;
    top: 20em;
    
}

.links{
   padding: 1em;
   background-color: #9d0208;
   margin-top: 0.5em;
}

.iconePesq{
    margin-right: 0.5em;

}

.divInputPesquisa{
    display: flex;
    flex-direction: row;
}

.addCadastro{
    background-color: white;
}

.theadTabela{
    background-color: #0077b6;
    color: white;
}

.divTabela{
    
    background-color: white;
}

.inputNomeCadastro{
    border: 0px;
    border-bottom: 0.2em solid black;
    width: 100%;
    background-color: transparent;
    text-align: center;
    margin-top: 0.5em;
}

.inputSelect{
    margin-top: 1em;
    border: 0px;
    border-bottom: 0.1em solid gray;
}